# .NET
**/bin/
**/obj/


# Node / Nuxt
WarranTeaFrontEnd/node_modules/
WarranTeaFrontEnd/.nuxt/
WarranTeaFrontEnd/.output/
WarranTeaFrontEnd/dist/

# IDE
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/

# OS
Thumbs.db
.DS_Store

# Temp
*.log
*.tmp
